*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts */
/* ===Michroma==== */
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* ===Lato==== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Michroma&display=swap');

/* ===Montserrat=== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1{
  
 
    font-family: "Michroma";
    color: grey;
}

body {
  
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow-x: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(128, 128, 128 );
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
}

h3 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: black;
   ;
   
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media screen and (max-width: 600px) {
    thead {
        display: none;
    }
    
    table, tbody, tr, td {
        display: block;
        width: 100%;
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        border: 1px solid #ddd;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
  
}
th{
    font-family: "Michroma";
    color: grey;
     
}
td{
  color: black;
}
img [alt='logo'] {
    size: 30px;
}